Django==5.0.2
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.0


django-allauth
dj-rest-auth

requests>=2.30
cryptography>=41.0

drf-spectacular
pillow
setuptools<81

cloudinary
django-cloudinary-storage
python-decouple